<!-- <div class="container">
    <header class="jumbotron">
      <p>{{ content }}</p>
    </header>
  </div> -->


  <div class="container-md">
    <table class="table table-borderless table-sm">
      <tbody>
        <tr>
          <th scope="row"></th>
          <td><a routerLink="/users/registered-users" style="width: 100%; color: white; text-decoration: none;"><button  class="btn btn-success w-100">{{ countRegisteredUsers }}</button></a></td>
          <td><a routerLink="/users/active-users" style="width: 100%; color: white; text-decoration: none;"><button  class="btn btn-warning w-100">{{ countActiveUsers }}</button></a></td>
          <td><a routerLink="/users/inactive-users" style="width: 100%; color: white; text-decoration: none;"><button  class="btn btn-danger w-100">{{ countAllTheInActiveUsers }}</button></a></td>
        </tr>
  
        <tr>
          <th scope="row"></th>
          <td><a routerLink="/posts/all-posts" style="color: white; text-decoration: none;"><button  class="btn btn-success w-100">{{ countAllThePosts }}</button></a></td>
          <td><a routerLink="/posts/active-posts" style="color: white; text-decoration: none;"><button  class="btn btn-warning w-100">{{ countAllTheActivePosts }}</button></a></td>
          <td><a routerLink="/posts/inactive-posts" style="color: white; text-decoration: none;"><button  class="btn btn-danger w-100">{{ countAllTheInActivePosts }}</button></a></td>
        </tr>
  
        <tr>
          <th scope="row"></th>
          <td><a routerLink="/discussions/all-discussions" style="color: white; text-decoration: none;"><button  class="btn btn-success w-100">{{ countAllTheDiscussion }}</button></a></td>
          <td><a routerLink="/discussions/active-discussions" style="color: white; text-decoration: none;"><button  class="btn btn-warning w-100">{{ countAllTheActiveDiscussion }}</button></a></td>
          <td><a routerLink="/discussions/inactive-discussions" style="color: white; text-decoration: none;"><button  class="btn btn-danger w-100">{{ countAllTheInActiveDiscussion }}</button></a></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td><a routerLink="/programs-and-subjects/programs" style="color: white; text-decoration: none;"><button  class="btn btn-success w-100">Programs</button></a></td>
          
        </tr>
      </tbody>
    </table>
  </div>
    <div class="container">
      
    </div>
  
  
  



