
<div class="col-md-12 col-centered custom">
		    
		    <div class="form-group"> 
                <input type="text" class="form-control" [(ngModel)]="username" placeholder="Username" readonly> 
            </div> 
		       
            <div class="form-group"> 
                <input type="password" class="form-control" [(ngModel)]="newPassword" placeholder="New Password"> 
            </div> 
		     
            <div class="form-group"> 
                <input type="password" class="form-control" [(ngModel)]="confirmPassword" placeholder="Confirm Password"> 
            </div> 
            <div class="form-group"> 
                <button type="submit" class="form-control btn btn-primary" (click)="changePassword()">Change Password</button>
            </div> 
            <div>
                <p><em>Note: You will be redirected to login page after succesfull change of a password.</em></p>
            </div>
</div>