<div class="container">
    <header class="jumbotron">
      <p>{{ content }}</p>
    </header>
  </div>



  <!-- <div class="panel panel-default">
    <div class="panel-heading">
        <h1>Registered users</h1>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Fullname</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Phone</th>
                    <th>Institution</th>
                    <th>Program</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of content">
                    <td>{{user.id}}</td>
                    <td>{{user.fullname}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.institution}}</td>
                    <td>{{user.course}}</td>
                    <td>{{user.gender}}</td>
                    <td>{{user.address}}</td>
                    <td><button >Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->
