<!--To generate otp -->
<form 
id="forgot-password-form" class="form"
name="form"
(ngSubmit)="f.form.valid"
#f="ngForm"
novalidate
>
<div class="col-md-12 col-centered custom" [hidden]="isOtpGenerated">	    
		    <div>
                <h3><Strong>Provide your username and email to search for your account.</Strong></h3>
            </div>
		    <div class="form-group"> 
                <input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="Username" required> 
           
                <div
                class="alert alert-danger"
                role="alert"
                *ngIf="f.submitted && username.invalid"
              >
                Username is required!
              </div>
           
            </div> 
		       
            <div class="form-group"> 
                <input type="email" class="form-control" name="email" [(ngModel)]="email" placeholder="Email" required> 
           
                <div
                class="alert alert-danger"
                role="alert"
                *ngIf="f.submitted && email.invalid"
              >
                Email is required!
              </div>
           
            </div> 
		
            <div class="form-group"> 
                <button type="submit" class="form-control btn btn-primary" [disabled]="isLoading" (click)="generateOtp()">
                    <img src="../../assets/loadingSpinner.gif" *ngIf="isLoading" style="width: 24px;" alt="loadingSpinner.gif"/>
                    Search Account</button>
            </div> 
            <div class="form-group">
                <a routerLink="/login" style="cursor: pointer;text-decoration: none;">Here by mistake? Go back to Login</a>
            </div>
        
</div>
</form>
<!--to validate otp-->

<div class="col-md-12 col-centered custom" [hidden]="!isOtpGenerated">	    
    <div>
        <h3><Strong>Check your email and enter the 6 digit otp.</Strong></h3>
    </div>
    <div class="form-group"> 
        <input type="number" class="form-control" [(ngModel)]="otpnum" placeholder="Enter your otp" required> 
    </div> 
    

    <div class="form-group"> 
        <button type="submit" class="form-control btn btn-primary" [disabled]="isLoading" (click)="validateOtp()">
            <img src="../../assets/loadingSpinner.gif" *ngIf="isLoading" style="width: 24px;" alt="loadingSpinner.gif"/>
            Verify</button>
    </div> 
 

</div>