<div class="col-md-12">
    <div class="card card-container">
      <!-- <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      /> -->
      <label><strong>Register Here</strong> </label>
      <br>
      <br>

      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >

      <div class="form-group">
        <label for="fullname">Fullname</label>
        <input
          type="text"
          class="form-control"
          name="fullname"
          [(ngModel)]="form.fullname"
          required
          minlength="3"
          maxlength="50"
          #fullname="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && fullname.invalid">
          <div *ngIf="fullname.errors.required">Fullname is required</div>
          <div *ngIf="fullname.errors.minlength">
            Fullname must be at least 3 characters
          </div>
          <div *ngIf="fullname.errors.maxlength">
            Fullname must be at most 20 characters
          </div>
        </div>
      </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="form.username"
            required
            minlength="3"
            maxlength="20"
            #username="ngModel"
          />
          <div class="alert-danger" *ngIf="f.submitted && username.invalid">
            <div *ngIf="username.errors.required">Username is required</div>
            <div *ngIf="username.errors.minlength">
              Username must be at least 3 characters
            </div>
            <div *ngIf="username.errors.maxlength">
              Username must be at most 20 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            required
            email
            #email="ngModel"
          />
          <div class="alert-danger" *ngIf="f.submitted && email.invalid">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <div class="alert-danger" *ngIf="f.submitted && password.invalid">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
       
        <div class="form-group">
          <label for="institution">Institution</label>
          <input
            type="text"
            class="form-control"
            name="institution"
            [(ngModel)]="form.institution"
            required
            minlength="3"
            maxlength="20"
            #institution="ngModel"
          />
          <div class="alert-danger" *ngIf="f.submitted && institution.invalid">
            <div *ngIf="institution.errors.required">institution is required</div>
            <div *ngIf="institution.errors.minlength">
              institution must be at least 3 characters
            </div>
            <div *ngIf="institution.errors.maxlength">
              institution must be at most 20 characters
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="course">Program</label>
          <select
            class="form-control"
            name="course"
            [(ngModel)]="form.course"
            required
            #course="ngModel"
          >
          <option value="">--Select Program--</option>
            <option *ngFor="let program of programs" value="{{ program.id }}" >{{ program.programName }} </option>
       
          </select>
          <div class="alert-danger" *ngIf="f.submitted && course.invalid">
            <div *ngIf="course.errors.required">Program is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="phone">Phone</label>
          <input
            type="text"
            class="form-control"
            name="phone"
            [(ngModel)]="form.phone"
            required
            minlength="10"
            
            #phone="ngModel"
          />
          <div class="alert-danger" *ngIf="f.submitted && phone.invalid">
            <div *ngIf="phone.errors.required">phone is required</div>
            <div *ngIf="phone.errors.minlength">
              phone must be at least 10 characters
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="gender">Gender</label>
          <!-- <input
            type="text"
            class="form-control"
            name="gender"
            [(ngModel)]="form.gender"
            required
            #gender="ngModel"
          /> -->
          <select
          class="form-control"
            name="gender"
            [(ngModel)]="form.gender"
            required
            #gender="ngModel"
          >
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Others">Others</option>

          </select>
          <div class="alert-danger" *ngIf="f.submitted && gender.invalid">
            <div *ngIf="gender.errors.required">gender is required</div> 
          </div>
        </div>

        <div class="form-group">
          <label for="address">Address</label>
          <input
            type="text"
            class="form-control"
            name="address"
            [(ngModel)]="form.address"
            required
            #address="ngModel"
          />
          <div class="alert-danger" *ngIf="f.submitted && address.invalid">
            <div *ngIf="address.errors.required">address is required</div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Sign Up</button>
        </div>
        <div class="form-group">
         <a routerLink="/login">Already have account!</a>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>
    </div>
  </div>
